<div class="font-karla antialiased text-gray-900">
    <div class="bg py-8 min-h-screen flex justify-center items-center">
        <div class="container max-w-xl mx-auto">
            <a href="/" class="nuxt-link-active"><img src="/_nuxt/img/logo.c008ac1.png" alt="80kobosms Logo" class="block mx-auto h-12"></a>
            <h1 class="font-bold text-white text-center mt-4">
                Create An Account, It's Free
            </h1>
            <form class="card overflow-hidden px-8 py-6 mb-2 mt-4">
                <div class="flex flex-wrap sm:-mx-2">
                    <div class="w-full sm:w-1/2 sm:px-2 mb-2"><label for="fullname" class="label"><span>Fullname</span></label> <input id="fullname" placeholder="" type="text" aria-invalid="true" aria-required="true" aria-errormessage="vee_fullname" class="input mb-1">
                    </div>
                    <div class="w-full sm:w-1/2 sm:px-2 mb-2"><label for="email" class="label"><span>Email</span></label> <input id="email" placeholder="" type="email" aria-invalid="true" aria-required="true" aria-errormessage="vee_email" class="input mb-1">
                    </div>
                    <div class="w-full sm:w-1/2 sm:px-2 mb-2"><label for="phone" class="label"><span>Phone
                                No</span></label> <input id="phone" placeholder="" type="text" aria-invalid="true" aria-required="true" aria-errormessage="vee_phone" class="input mb-1">
                    </div>
                    <div class="w-full sm:w-1/2 sm:px-2 mb-2"><label class="label">Password</label>
                        <div class="relative"><input id="password" type="password" class="input">
                            <div><i class="text-gray-700 cursor-pointer absolute top-20 right-7 z-50 hidden far fa-eye"></i>
                            </div>
                        </div>
                    </div>
                    <div class="w-full sm:w-1/2 sm:px-2 mb-2"><label for="confirm password" class="label"><span>Confirm
                                Password</span></label> <input id="confirm password" placeholder="" type="password" aria-invalid="true" aria-required="true" aria-errormessage="vee_confirm password" class="input mb-1">
                    </div>
                </div> <button  rounded="true" raised="true" full="true" primary="true" type="submit" class="block btn mt-5 btn-primary shadow-btn rounded w-full">
                    Create Account
                </button>
            </form>
            <p class="text-white text-center mt-3">
                Already have an account?
                <a routerLink="/login" class="text-secondary font-semibold">
                    Login!
                </a>
            </p>
        </div>
    </div>
</div>